name: Build dylib

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y make clang perl git unzip curl ldid

      - name: Install Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $HOME/theos

      - name: Build
        run: |
          export THEOS=$HOME/theos
          make

      - name: Upload dylib
        uses: actions/upload-artifact@v4
        with:
          name: ytmod
          path: .theos/obj/debug/*.dylib
