name: Build dylib

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build dylib
        run: |
          clang -dynamiclib Tweak.xm -o ytmod.dylib -framework UIKit

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ytmod
          path: ytmod.dylib
